<%- include('blocks/header', {bot, user, path}) %>
<center>
<html>
<head>
<style>
body {
background-color: #111218
}
</style>
</head>
</html>
<center>
<div class="card-columns">
        <div class="card">
          <center>
          <h3 class="card-header">Komut Adı</h3>

        
          <div class="card-body">
            <p class="card-text">Komut Adı</p>
            
            <h6 class="card-subtitle text-muted">İzin: Gerekmiyor<br> <br><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal"></a></h6>
            <br>
                                    <center>     <a href="/panel">Komutu Dene <i class="fab fa-discord"></i></a></center>
</center>
            
            
         
  </div>
  
  
  </center>

  <center>
<div class="card-columns">
        <div class="card">
          <center>
          <h3 class="card-header">Komut Adı</h3>

        
          <div class="card-body">
            <p class="card-text">Komut Adı</p>
            
            <h6 class="card-subtitle text-muted">İzin: Gerekmiyor<br> <br><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal"></a></h6>
            <br>
                                    <center>     <a href="/panel">Komutu Dene <i class="fab fa-discord"></i></a></center>
</center>
            
            
         
  </div>
  
  
  </center>
  
  <center>
<div class="card-columns">
        <div class="card">
          <center>
          <h3 class="card-header">Komut Adı</h3>

        
          <div class="card-body">
            <p class="card-text">Komut Adı</p>
            
            <h6 class="card-subtitle text-muted">İzin: Gerekmiyor<br> <br><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal"></a></h6>
            <br>
                                    <center>     <a href="/panel">Komutu Dene <i class="fab fa-discord"></i></a></center>
</center>
            
            
         
  </div>
  
  
  </center>
  
  <center>
<div class="card-columns">
        <div class="card">
          <center>
          <h3 class="card-header">Komut Adı</h3>

        
          <div class="card-body">
            <p class="card-text">Komut Adı</p>
            
            <h6 class="card-subtitle text-muted">İzin: Gerekmiyor<br> <br><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal"></a></h6>
            <br>
                                    <center>     <a href="/panel">Komutu Dene <i class="fab fa-discord"></i></a></center>
</center>
            
            
         
  </div>
  
  
  </center>
  
  <center>
<div class="card-columns">
        <div class="card">
          <center>
          <h3 class="card-header">Komut Adı</h3>

        
          <div class="card-body">
            <p class="card-text">Komut Adı</p>
            
            <h6 class="card-subtitle text-muted">İzin: Gerekmiyor<br> <br><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal"></a></h6>
            <br>
                                    <center>     <a href="/panel">Komutu Dene <i class="fab fa-discord"></i></a></center>
</center>
            
            
         
  </div>
  
  
  </center>
  
  <center>
<div class="card-columns">
        <div class="card">
          <center>
          <h3 class="card-header">Komut Adı</h3>

        
          <div class="card-body">
            <p class="card-text">Komut Adı</p>
            
            <h6 class="card-subtitle text-muted">İzin: Gerekmiyor<br> <br><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal"></a></h6>
            <br>
                                    <center>     <a href="/panel">Komutu Dene <i class="fab fa-discord"></i></a></center>
</center>
            
            
         
  </div>
  
  
  </center>
  
  <center>
<div class="card-columns">
        <div class="card">
          <center>
          <h3 class="card-header">Komut Adı</h3>

        
          <div class="card-body">
            <p class="card-text">Komut Adı</p>
            
            <h6 class="card-subtitle text-muted">İzin: Gerekmiyor<br> <br><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal"></a></h6>
            <br>
                                    <center>     <a href="/panel">Komutu Dene <i class="fab fa-discord"></i></a></center>
</center>
            
            
         
  </div>
  
  
  </center>
    </div>
  </center>

<% include ./blocks/footer %>