<%- include('blocks/header', {bot, user, path}) %>
<center>
<html>
<head>
<style>
body {
background-color: #111218
}
</style>
</head>
</html>
   <center>
  <center>
<div class="card-columns">
  </center>
          <h3 class="card-header">Yardım</h3>

        
          <div class="card-body">
            <p class="card-text">!yardım</p>
                                    <p class="card-text">Yardım Menüsünü Gösterir</p>

            
            <h6 class="card-subtitle text-muted">İzin: Gerekmiyor<br> <br><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal"></a></h6>
            <br>
                                    <center>     <a href="/panel">Komutu Dene <i class="fab fa-discord"></i></a></center>
</center>
            
            
         
  </div>
  
  
  </center>
  
<center>
  <center>
<div class="card-columns">
  </center>
          <h3 class="card-header">Ekonomi Sistemi</h3>

        
          <div class="card-body">
            <p class="card-text">!ekonomisistemi</p>
                        <p class="card-text">Ekonomi Sistemini Gösterir</p>

            
            <h6 class="card-subtitle text-muted">İzin: Gerekmiyor<br> <br><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal"></a></h6>
            <br>
                                    <center>     <a href="/panel">Komutu Dene <i class="fab fa-discord"></i></a></center>
</center>
            
            
         
  </div>
  
  
  </center>

  <center>
  <center>
<div class="card-columns">
  </center>
          <h3 class="card-header">Kayıt Sistemi</h3>

        
          <div class="card-body">
            <p class="card-text">!kayıtsistemi</p>
                                    <p class="card-text">Kayıt Sistemini Gösterir</p>

            
            <h6 class="card-subtitle text-muted">İzin: Gerekmiyor<br> <br><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal"></a></h6>
            <br>
                                    <center>     <a href="/panel">Komutu Dene <i class="fab fa-discord"></i></a></center>
</center>
            
            
         
  </div>
  
  
  </center>

  <center>
  <center>
<div class="card-columns">
  </center>
          <h3 class="card-header">Koruma Sistemi</h3>

        
          <div class="card-body">
            <p class="card-text">!korumasistemi</p>
                                    <p class="card-text">Koruma Sistemini Gösterir</p>

            
            <h6 class="card-subtitle text-muted">İzin: Gerekmiyor<br> <br><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal"></a></h6>
            <br>
                                    <center>     <a href="/panel">Komutu Dene <i class="fab fa-discord"></i></a></center>
</center>
            
            
         
  </div>
  
  
  </center>

  <center>
  <center>
<div class="card-columns">
  </center>
          <h3 class="card-header">Kullanıcı Komutları</h3>

        
          <div class="card-body">
            <p class="card-text">!kullanıcı</p>
                                    <p class="card-text">Kullanıcı Komutlarını Gösterir</p>

            
            <h6 class="card-subtitle text-muted">İzin: Gerekmiyor<br> <br><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal"></a></h6>
            <br>
                                    <center>     <a href="/panel">Komutu Dene <i class="fab fa-discord"></i></a></center>
</center>
            
            
         
  </div>
  
  
  </center>
  <center>
  <center>
<div class="card-columns">
  </center>
          <h3 class="card-header">Logo Sistemi</h3>

        
          <div class="card-body">
            <p class="card-text">!logosistemi</p>
                                    <p class="card-text">Logo Sistemini Gösterir</p>

            
            <h6 class="card-subtitle text-muted">İzin: Gerekmiyor<br> <br><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal"></a></h6>
            <br>
                                    <center>     <a href="/panel">Komutu Dene <i class="fab fa-discord"></i></a></center>
</center>
            
            
         
  </div>
  
  
  </center>

  <center>
  <center>
<div class="card-columns">
  </center>
          <h3 class="card-header">Moderasyon Sistemi</h3>

        
          <div class="card-body">
            <p class="card-text">!moderasyon</p>
                                    <p class="card-text">Moderasyon Sistemini Gösterir</p>

            
            <h6 class="card-subtitle text-muted">İzin: Gerekmiyor<br> <br><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal"></a></h6>
            <br>
                                    <center>     <a href="/panel">Komutu Dene <i class="fab fa-discord"></i></a></center>
</center>
            
            
         
  </div>
  
  
  </center>
  <center>
  <center>
<div class="card-columns">
  </center>
          <h3 class="card-header">Çekiliş Sistemi</h3>

        
          <div class="card-body">
            <p class="card-text">!çekilişsistemi</p>
                                    <p class="card-text">Çekiliş Sistemini Gösterir</p>

            
            <h6 class="card-subtitle text-muted">İzin: Gerekmiyor<br> <br><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal"></a></h6>
            <br>
                                    <center>     <a href="/panel">Komutu Dene <i class="fab fa-discord"></i></a></center>
</center>
            
            
         
  </div>
  
  
  </center>

 

<% include ./blocks/footer %>